<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/styles.css"><link rel="icon" href="/images/weather.png">
    <title>About page</title>
</head>
<body>
    <div class="mainCon">
        {{>header}} 
        <p class="warning">If u are getting message 'Location doesnt exist' for existing location, that means that API is used max number of times for this month.</p>
        <p>This site is created by radovanrasha.</p>
        <p> It uses data from positionstack.com and weatherstack.com to give exac informations about temperature.</p>

    
    <img class="author" src="images/rrlogo.png" alt="radovanrashalogo">

    
    
    </div>
    {{>footer}}
</body>
</html>