<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/styles.css"><link rel="icon" href="/images/weather.png">
    <title>About page</title>
</head>
<body>
    <div class="mainCon">
        {{>header}}
    

    
    <img class="author" src="images/rrlogo.png" alt="radovanrashalogo">

    
    
    </div>
    {{>footer}}
</body>
</html>