<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/styles.css"><link rel="icon" href="/images/weather.png">
    <title>Help page</title>
</head>
<body>
    <div class="mainCon">
        {{>header}}

    
    <p>{{helpMess}}
        {{errorMess}}
    </p>

    
    </div>
    {{>footer}}
</body>
</html>