body{
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    color: #888888;
    border-top: 2px dashed #888888;
    padding: 16px 0;
    font-size: 20px;
    margin-top: 16px;
}

header{
    margin-top: 16px;
    margin-bottom: 48px;

}

h1{
    font-size: 67px;
    margin-bottom: 16px;
}

header a{
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.author{
    width: 300px;
    height: 300px;
}

.mainCon{
    flex-grow: 1;
}

input{
    border: 3px solid lightcoral;
    padding: 8px;
}

button{
    cursor: pointer;
    background-color: deepskyblue;
    border: 1px solid lightcoral;
    font-size: large;
    color: darkred;
}